main {
    font-family: "Hammersmith One", sans-serif;
}

.coin {
    width: 25px;
    top: 30%;
    left: 3%;
}

.value-wrapper {
    background-color: #F1F2EF;
    border-radius: 12px;
    width: 60%;
    margin: auto;
}

.divider {
    border-right: 1px solid #839083;
}


.green {
    color: #839083;
}

.atividade {
    background-color: #839083;
    width: 90%;
    margin: auto;
    border-radius: 15px;
}

@media (max-width: 1200px) {
    main {
      padding: 0 3%;
    }
  }